<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <!-- <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator</h4> -->
    <h4 class="hidden">
      <span id="js-rotating">
        不日进则日退, 
        一天不读书，感觉像头猪,
        自律，才能带来自由,
        强者自渡，圣者渡人,
        走出舒适区，还有更大的舒适区,
        所有你羡慕的生活背后，都有你熬不了的苦,
        想成蝶，必先破茧。熬得住，出众。熬不住，出局,
        高度不够，看到的都是问题,
        格局太小，纠结的都是鸡毛蒜皮,
        要有遥不可及的梦想,
        也要有脚踏实地的本事,
        一切随缘，缘深多聚聚，缘浅随它去,
        一个人要抵过千军万马,
        一个人也要活得有声有色
      </span></h4>
  </div>
  <div class="user-content">
    <p>
      小刘的博客
    </p>
  </div>
</div>